 # Ignore everything
*

# But not these files...
!.gitignore

!*.py
!*.sh
!*.xsh
!*.ipynb

!*.md

!*.png
# etc...

# ...even if they are in subdirectories
!*/

# But finally ignore those
virtual_environment/
data/
